# Is only used for my Visual Studio Configuration
.vs/

# Build is multiplatform, therefore you should build it yourself
build/

# If using Visual Studio, generate a CMakeSettings.json, and set the compiler required
CMakeSettings.json